*{
    margin:0;
    padding:0;
    /* font-family: sans-serif; */
}
/* body{
    background:black;
    color:white;
} */
/* Header */
.header{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2d8dd85;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    margin-bottom: 10px;
}
img{
    width: 140px;
    height: 100px;

}

.nav-items{
    display: flex;
    margin-right: 20px;
    /* border: 1px solid black; */
}

.nav{
    display:flex;
    justify-content:center;
    align-items:center;
}
.nav>.nav-item{
    margin:10px;
    list-style-type: none;
}

/* Body */
.search{
    margin:10px;
    padding: 10px;
    cursor: pointer;
}
.search-inp{
    padding: 5px;
    margin-right: 5px;
}

.search-btn{
    padding: 5px;
    cursor: pointer;
}

.res-card{
    width: 250px;
    height: 320px;
    border: 2px solid #d0c7c730;
    margin: 20px;
    cursor:pointer;
    border-radius: 10px;
}

.res-card:hover{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.card-img{
    margin: 5px;
    width: 95%;
    height: 50%;
    border-radius: 10px;
}

.card-content{
    margin: 10px;
}

.res-containers{
    display: flex;
    flex-wrap: wrap;
    /* border:1px solid black; */
    margin:  20px 40px;
}

.filter{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.filter-btn{
    margin: 10px;
    cursor:pointer;
    padding: 10px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    /* border:1px solid black; */
    margin: 40px;
    /* margin-top: 60px; */
}

.shimmer{
    width: 250px;
    height: 320px;
    border: 2px solid #d0c7c730;
    margin: 20px;
    cursor:pointer;
    border-radius: 10px;
    background: #948d8d52;
}

.login-btn{
    padding: 5px 10px;
    cursor: pointer;
}

.res-menu{
    /* border: 1px solid black; */
    margin: 10px;
    padding: 10px;
}

.user-card{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}